<h1>{{userToEdit ? 'Edit User' : 'Add User'}}</h1>
<form [formGroup]="form" class="mb-=3">
  <div class="row">
    <mat-form-field class="col-md-6">
      <input matInput placeholder="First Name" formControlName="firstName" autocomplete="cc-given-name">
      <mat-error *ngIf="form.controls['firstName'].hasError('required')">
        First Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6">
      <input matInput placeholder="Last Name" formControlName="firstName" autocomplete="cc-given-name">
      <mat-error *ngIf="form.controls['lastName'].hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</form>