.flex-fill-space {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;

  .wrapper {
    z-index: -2;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;

    .toolbar {
      width: 100%;
      z-index: 1;
      flex: 0 0 auto;
    }

    .content {
      height: inherit;
      position: relative;
      z-index: 1;
      border-radius: 10px !important;

      .background {
        h1 {
          text-align: center;
          font-size: 3em;
          // text-transform: uppercase;
        }
      
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: url('../assets/images/background.jpg') no-repeat center top;
          background-size: cover;
          opacity: 0.7;
          content: '';
          z-index: 0;
        }
      
        .gradient {
          height: inherit;
          &::before {
            position: absolute;
            top: 60%;
            left: 0;
            bottom: 0;
            right: 0;
            content: '';
            z-index: 0;
          }
        }

        .app-container {
          margin-top: 15vh;
        }
      }
    }

    .footer {
      flex: 0 0 auto;
    }
  }
}

mat-sidenav {
  width: 250px;

  .mat-nav-list {
    padding-top: 0;
  }
}