<mat-sidenav-container>
  <mat-sidenav #sidenav mode="cover" style="background: rgba(255,255,255,0.95);">
    <mat-toolbar color="primary">
      <span>Welcome, {{(userState$ | async)?.name}}</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/">Home</a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">
    <!-- Header -->
    <header class="toolbar">
      <mat-toolbar color="primary">
        <span>The Event Center</span>
        <button class="d-none d-md-block" mat-button routerLink="/">Home</button>
        <button class="d-none d-md-block" mat-button routerLink="/events">Events</button>
        <span class="flex-fill-space"></span>
        <div *ngIf="!isAuthenticated">
          <button class="d-none d-md-block" mat-button routerLink="/login">Login</button>
        </div>
        <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
    </header>

    <!-- Main Content -->
    <main role="main" class="main-content">
      <h1>The Clubhouse Event Center</h1>
      <div class="container">
        <div class="row justify-content-center">
          <router-outlet #o="outlet"></router-outlet>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <mat-toolbar color="primary">
          <span>&#169; {{today | date:'yyyy'}} The Event Center </span>
      </mat-toolbar>
    </footer>
  </div>
</mat-sidenav-container>
