<div class="row justify-content-center">
  <div class="col-8">
    <mat-card class="app-card mat-elevation-z8">
      <h1>Administration</h1>
      <mat-card-content>
        <mat-grid-list [cols]="2" rowHeight="60px" class="admin-grid-menu">
          <mat-grid-tile *ngFor="let button of buttons">
            <button mat-raised-button class="admin-button" routerLink="{{button.link}}" color="primary"><mat-icon class="mr-2">{{button.icon}}</mat-icon> {{button.title}}</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
